.Detail-info{
    display: flex;
    height:calc(50vh - 30px);
}
.Content{
    
    width:50%;
    padding:0 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Right-Content{
    border-left: 1px solid lightgrey;
}

/* tablet */
@media (max-width: 1024px) {
    .Detail-info {
        height: calc(40vh - 30px);
    }

}

/* phone */
@media (max-width: 500px) {
    .Detail-info {
       flex-direction: column;
       height: calc(55vh - 30px);
    }
    .Content {
        height: 50%;
        width: 100%;
        padding: 0 24px;
        margin: 0 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .Right-Content {
        border-left: 0px;
    }
}