.Quote{
    display:flex;
    
}

.QuoteContent{
    width:50%;
    font-weight: 400;
    line-height: 20px;
}

.author{
    font-weight: 600;
    margin-top: 20px;
}

.RefreshIcon{
    margin-left: 20px;
    cursor: pointer;
}

/* tablet */
@media (max-width: 1024px) {
    .Quote {
       margin-top: 50px;

    }
    .QuoteContent {
        width: 90%;
        
    }
}

/* phone */
@media (max-width: 500px) {
    .Quote {
        margin-top: 24px;

    }
}